@import url('https://fonts.googleaplis.com/css?family=Ubuntu:400,700');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: aliceblue;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    margin: 5%;
}
.contenedorp{
    background-color: #1F253D;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 80%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}
.contenedorp h3{
    text-align: center;
}
.cabecera{
    position: relative;
  }
  .cabecera::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(246, 208, 246);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1; /* Coloca el pseudo-elemento detrás del contenido del contenedor */
  }

.foto{
    width: 280px; /* Ancho inicial del contenedor */
    height: 280px; /* Altura inicial del contenedor */
    border-radius: 50%; /* Borde redondeado para hacerlo circular */
    overflow: hidden; /* Oculta cualquier parte de la imagen que se salga del contenedor */
    display: inline-block;
    vertical-align: middle;
    border: 7px solid #fef7ff;
    margin: 5%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
  
.foto img{
    width: 100%; /* La imagen ocupa el 100% del ancho del contenedor */
    height: auto; /* Altura automática para mantener la proporción */
    display: block; /* La imagen se comporta como un bloque para evitar espacio adicional */
  }

.puesto{
    display: inline-block;
    vertical-align: middle;
    margin-left: 2%;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  }

.puesto h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    text-align: center;
}
.puesto p{
    text-align: center;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contenido_cv{
    display: flex;
    width: 100%;
  }

.habilidades{
    display: inline-block;
    vertical-align: top;
    background-color: #b076b0;
    padding: 5%;
    width: 90%;
  }
  .habilidades a{
    font-size: 15px;
    color: #ffffff;
    text-align: left;
}
  .habilidades hr {
        display: block; /* Hace que el <br> se comporte como un bloque */
        border-bottom: 5px solid rgb(254, 254, 254); /* Línea gris con grosor de 2px */
        margin: 10px 0; /* Espaciado arriba y abajo para que no esté pegado */
        width: 100%; /* Ocupará todo el ancho de su contenedor */
  }
.experiencia{
    display: inline-block;
    vertical-align: middle;
    background: #d4c9ec;
    padding: 5%;
    width: 50%;
}
.experiencia hr {
    display: block; 
    border-bottom: 5px solid rgb(254, 254, 254); /* Línea gris con grosor de 2px */
    margin: 10px 0; /* Espaciado arriba y abajo para que no esté pegado */
    width: 100%; /* Ocupará todo el ancho de su contenedor */
}
.experiencia a{
    color: #000000;
}
 
  h1{
    font-size: 150%;
  }
  h3{
    background-color: rgb(240, 186, 237);
    font-size: 170%;
    margin-bottom: 3%;
  }